{% extends "layout.html" %}

{% block title %}Car Control{% endblock %}

{% block content %}

  <body class="noselect" align="center" style="background-color:white; margin-top: 100px;">
    
    
    <h2 style="color: teal;text-align:center;">WiFi Robot Control</h2>
    
    <table id="mainTable" style="width:400px;margin:auto;table-layout:fixed" cellspacing=10>

      <tr>
        <td></td>
        <td class="button" ontouchstart='sendButtonInput("up")' ontouchend='sendButtonInput("stop")'><span class="arrows">&#9650;</span></td>
        <td></td>
      </tr>

      <tr>
        <td class="button" ontouchstart='sendButtonInput("left")' ontouchend='sendButtonInput("stop")'><span class="arrows">&#9664;</span></td>
        <td class="button-hidden"></td>    
        <td class="button" ontouchstart='sendButtonInput("right")' ontouchend='sendButtonInput("stop")'><span class="arrows">&#9654;</span></td>
      </tr>

      <tr>
        <td></td>
        <td class="button" ontouchstart='sendButtonInput("down")' ontouchend='sendButtonInput("stop")'><span class="arrows">&#9660;</span></td>
        <td></td>
      </tr>
      
      
    </table>
    
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="../static/JS/control.js"></script>
{% endblock %}